* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em tahoma;
    color: #fff;
    background: cornflowerblue;
    padding: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

.answer {
    max-width:100%;
    max-height:90vh;
}

.heading {
    padding: 0.5em 1em;
    background: #00529e;
}

.sub1 {
    flex: 1;
    font-size: 1.5em;
    text-align: end;
    transform: translateX(150%);
    animation: sub1-animation 500ms 500ms forwards;
}

.sub2 {
    flex: 1;
    transform: translateY(-250%);
    animation: sub2-animation 500ms 250ms forwards;
}

.sub3{
    font-size: 1.5em;
}

.main {
    flex: 1;
    font-size: 1.5em;
    animation: main-animation 500ms forwards;
}

@keyframes main-animation {
    0% {transform:translateX(-150%);}
    100% {transform:translateX(0%);}
}

@keyframes sub2-animation {
    0% {transform:translateY(-250%);}
    100% {transform:translateY(0%);}
}

@keyframes sub1-animation {
    0% {transform:translateX(150%);}
    100% {transform:translateX(0%);}
}

.footer {
    flex: 1;
    text-align:center;
}

.reveal {
    max-width: 100%;
    max-height:90vh;
    align-self: center;
}

.image-container{
    flex: 3;
    display:flex;
    justify-content: center;
    background: #00529e;
}

.answer-container{
    width:100%;
    display:flex;
    justify-content: center;
    background: #00529e;
}

.caption {
    flex: 100%;
    text-align: center;
    font-size: 1.2em;
}

.guess-container{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #00529e;
}

.guess-list {
    margin: 1em 2.5em;
}

.guess-list li{
    margin-bottom: 0.2em;
    padding-left: 0.5em;
}

.correct{
    color:lime;
}

@media all and (max-width:700px){
.container{
    flex-direction: column;
}
.main,.sub1{
    text-align:center;
}
.image-container{order: 1;}
.guess-container, .answer-container, #answer, .answer-container, .footer{order: 2;}

.sub2 {
    transform:translateX(150%);
    animation: sub1-animation 500ms 250ms forwards;
}

.sub1 {
    transform: translateX(-150%);
    animation: main-animation 500ms 500ms forwards;
}
}